body
    padding-top: 90px 

// typography
body 
    font-size: 17px
    font-family: 'Gilroy' 
    color: $text
h1,
h2,
h3,
h4,
h5
    font-weight: 800 
p
    line-height: 1.9 

.tag-text
    text-transform: uppercase
    color: $text-secondary
    font-weight: 800
    display: block  
    margin-bottom: 20px 
    
// other overall settings
+placeholder
	opacity: 1