.white-box
	padding: 65px 70px
	box-shadow: 0px 0px 36.1px 1.9px rgba(0, 0, 0, 0.17)
	position: relative
	background-color: #fff 
	
	& > *
		position: relative
		z-index: 1 
	
	&:before	
		background-color: #fff 
	


.corner
	&-top-left,
	&-top-right,
	&-bottom-left,
	&-bottom-right
		position: relative
		z-index: 1 
		
		&:after
			content: ''
			width: 75px
			height: 75px
			position: absolute
			background-color: #3167B4
			z-index: -1 
			
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0 
			
	&-top-left
		&:after
			left: -6px
			top: -6px
			
	&-top-right
		&:after
			right: -6px
			top: -6px
			
	&-bottom-right
		&:after
			right: -6px
			bottom: -6px
			
	&-bottom-left
		&:after
			left: -6px
			bottom: -6px
			
	&-green
		&:after
			background-color: $accent-secondary 
			



.image-content-block
	display: flex
	justify-content: flex-end
	position: relative
	
	&:not(:last-child)
		margin-bottom: 90px 
	
	.white-box
		width: 780px
		
		@media (max-width: 1499px)
			width: 55%
			
		.text-block
			max-width: 480px
			
			p
				max-width: 100% 
			
			.block-title
				margin-bottom: 30px 
		
	img
		position: absolute
		top: -25px
		left: 0
		width: -webkit-calc(100% - 750px)
		width: calc(100% - 750px)
		
		@media (max-width: 1499px)
			width: -webkit-calc(55% + 30px)
			width: calc(55% + 30px)
		

	&--reverse
		justify-content: flex-start
		
		img
			left: auto
			right: 0
			


.e-book-block
	max-width: 1190px

	.eb-image
		img
			display: block
			max-width: 100% 
			box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.39)
			
	.text-block
		.block-title
			margin-bottom: 35px 