.btn
    height: 40px
    line-height: 40px
    border: none 
    display: inline-block  
    min-width: 155px
    padding: 0 15px 
    background: #e3e3e3
    cursor: pointer
    position: relative
    img
        display: inline-block
        vertical-align: text-bottom
        max-width: 16px
        margin-left: 8px  
    &-primary,
    &--primary
        background-color: $accent-primary 
        color: #FFF 
        
        &.arrow-right:after
            content: ''
            width: 16px
            height: 16px
            background-image: url(../images/arrow-link-down-w.svg)
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: 100%
            position: absolute
            top: 50%
            -webkit-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            transform: translateY(-50%)
            right: 20px


/* ------------------------------------ */
/*  BUTTONS WITH ARROWS  */
.arrow-link
    width: 75px
    height: 75px
    background-color: $accent-primary
    border: none
    position: relative
    cursor: pointer
    transition: all .2s 
    display: inline-block
    
    &:after
        content: ""
        display: block
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto  
        width: 18px
        height: 12px  
        background-position: 50% 50%
        background-image: url("../images/arrow-link-down-w.svg")  
        background-size: 100%  
        transform: rotate(90deg)
        
    &--right
        &:after
            transform: rotate(0)
            
    &--white
        background-color: #FFF 
        
        &:after
            background-image: url("../images/arrow-link-down.svg") 
        
    &--secondary
        background-color: $accent-secondary 
        position: relative
        
        &:after
            background-image: url("../images/arrow-link-down.svg")  
            transform: rotate(0deg)
            
        span
            font-weight: 700
            white-space: nowrap
            position: absolute
            right: 75%
            top: 50%
            transform: translateY(-50%)
            color: #000
            transition: all 0.3s ease
            font-size: 18px 

/* ------------------------------------ */
/*  SOCIAL LINKS  */
.socials
    a
        display: block
        width: 22px
        height: 20px  
        text-align: center
        margin: 30px 0 0 
        img
            display: block
            max-width: 100%
            max-height: 100%  
            &:last-child
                display: none
        &:hover
            img
                &:first-child
                    display: none  
                &:last-child
                    display: block  
    &--horizontal
        a
            display: inline-block
            vertical-align: middle
            margin: 0 5px 


/* ------------------------------------ */
/*  SLICK ARROWS  */

.slick-arrow
    display: block
    width: 75px
    height: 75px
    background: $accent-primary 
    z-index: 10 
    opacity: 1 
    top: auto
    bottom: 0
    box-shadow: 0px 9px 34.96px 3.04px rgba(0, 0, 0, 0.25)
    &:before
        display: none
    &:after
        content: ""
        display: block
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto  
        width: 18px
        height: 12px  
        background-position: 50% 50%
        background-image: url("../images/arrow-link-down-w.svg")  
        background-size: 100%  
        
.slick-arrow
    &:hover
        opacity: .8 

.slick-next,
.slick-next:hover,
.slick-next:focus
	background: $accent-primary url("../images/right-arrow.svg")

.slick-prev,
.slick-prev:hover,
.slick-prev:focus
	background: $accent-primary url("../images/left-arrow.svg")

.slick-next
    right: 0px
    left: auto
    &:after
        transform: rotate(0deg)
.slick-prev
    right: 90px
    left: auto
    &:after
        transform: rotate(180deg)
    
/* ------------------------------------ */
/*  SLICK DOTS  */
.slick-dots
    bottom: -50px
    li
        width: 8px
        height: 8px
        display: inline-block
        vertical-align: middle 
        border-radius: 0  
        background-color: $text-secondary
        &.slick-active
            background-color: $accent-primary
        button
            display: none



/* ------------------------------------ */
/*  Filter Buttons  */
.filters
    text-align: right
    margin-bottom: 40px 
    button
        background: transparent
        border: none
        font-size: 18px 
        display: inline-block
        vertical-align: middle
        margin-left: 60px
        cursor: pointer
        &:first-child
            margin-left: 0  
        &.mixitup-control-active
            font-weight: 800 