.footer
	background-color: #fff
	padding: 30px 0 
	border-top: 1px solid #ECECEC
	@media (max-width: 1499px)
		padding: 20px 0 
	@media (max-width: 991px)
		padding: 14px 0 
	&-logo
		a
			display: block
			width: 205px 
			@media (max-width: 991px)
				width: 120px
			img
				display: block
				max-width: 100% 
				
	.page-menu
		a
			line-height: normal 
			&:after
				display: none !important
				

