form
    position: relative
    
.form-group
    margin-bottom: 20px
    
    &.mb-0
        margin-bottom: 0 
        
    &.mb-2x
        margin-bottom: 40px 
        
    .label
        font-size: 21px
        font-weight: 700
        display: block  
        margin-bottom: 12px 
        
.form-control
    display: block
    width: 100%
    border: 0
    height: 50px
    background-color: #F7F7F7 
    padding: 0 25px
    
    & + &
        margin-top: 15px 
    
    &.bordered
        background-color: transparent
        border: 0
        border-bottom: 1px solid #ECECEC 
        padding: 0 10px
        
        &.white
            color: #fff
            border-color: #fff
    
textarea.form-control
    height: 225px
    resize: none
    padding-top: 15px 
    
select.form-control
    -webkit-appearance: none 
    -moz-appearance: none 
    appearance: none 
    position: relative
    background-image: url(../images/arrow-select.svg) 
    background-position: right 5px center 
    background-repeat: no-repeat 
    background-size: 16px


    
.form-button
    display: block

    &.positioned
        position: absolute
        bottom: 0
        right: 0
        

.form-footer
    margin-top: 50px 


.custom-control
    position: relative
    padding-left: 30px 
    cursor: pointer
    
    &--block
        display: block
        
        & + &
            margin-top: 20px 

    input
        position: absolute
        z-index: -1
        opacity: 0
        
    &--checkbox &__indicator
        width: 18px
        height: 18px
        border: 1px solid #B9B9B9
        border-radius: 2px
        position: absolute
        top: 0
        left: 0
        box-shadow: inset 0px 0px 1px 0px rgba(224,224,224,1)
        transition: all 0.3s ease
        
        &:after
            content: ''
            width: 18px
            height: 18px
            position: absolute
            top: -4px
            right: -4px
            background-image: url(../images/checked-box.svg)
            background-size: 100%
            opacity: 0
            transition: all 0.1s ease
        
    &--checkbox input:checked + &__indicator
        border-color: #000
        
        &:after
            opacity: 1
        
