/* ------------------------------------ */
/*  HEADER  */
.header
	+position(fixed, 0, 0, auto, 0)
	+transition(all, .4s)
	
	box-shadow: 0px 0px 36.8px 3.2px rgba(0, 0, 0, 0.11)
	
	.container-fluid
		height: 100% 
		padding: 0 40px 
		.row
			height: 100%
			
/* ------------------------------------ */
/*  HEADER ONSCROLL   */
.headroom--unpinned
    transform: translateY(-100%)
.headroom--pinned,
.headroom--bottom 
	transform: translateY(0)

/* ------------------------------------ */
/*  LOGO  */
.logo 
	display: block
	width: 210px 
	img
		display: block
		max-width: 100% 

/* ------------------------------------ */
/*  NAVIGATION  */

.page-menu
	& > ul
		list-style-type: none
		& > li
			display: inline-block
			vertical-align: middle
			margin: 0 10px
			& > a
				color: #000
				font-weight: 300  
				line-height: 90px 


/* ------------------------------------ */
/*  HUMBURGER MENU BUTTON  */

.menu-button
	display: none
	+position(fixed, 15px, 10px, auto, auto)
	background: white
	border-radius: 50%
	box-shadow: 0 5px 10px rgba(black, 0.5)
	cursor: pointer
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer