/* ------------------------------------ */
/*  FIRST SECTION  */
.offer
	height: calc(100vh - 90px)
	max-height: 100%
	+flex($d: column, $ai: center, $j: center)
	position: relative
	padding-top: 80px 
	padding-bottom: 80px 
	
	background-position: 50% 50%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	
	.container
		height: 100% 
		position: relative
		.row
			height: 100% 

	&__img
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		height: auto
		max-height: 100% 
		box-shadow: 0px 0px 34.96px 3.04px rgba(0, 0, 0, 0.18)
		img
			display: block
			max-height: calc(100vh - 250px)
		&__dots
			position: absolute
			left: 0
			bottom: 80px 
			transform: translateX(-20%) 
		.arrow-link
			position: absolute
			left: 0
			bottom: 0
		.arrow-link--secondary
			left: 80px
			
	.socials
		position: absolute
		right: -40px
		bottom: 0
		

	&__images
		max-width: 50%
		
		img
			display: block
			width: 100%
			

.page-offer
	padding-bottom: 125px
	height: auto 
		
	img
		display: block
		width: 100%