/* ------------------------------------ */
/*  SLIDER OF OUR WORKS  */

.work-slider
    margin-top: -20px 
    &__slide
        padding: 20px 
        &__img
            border: 10px solid #fff
            display: inline-block
            box-shadow: 0px 0px 34.96px 3.04px rgba(0, 0, 0, 0.18)
            img
                display: block
                max-width: 100% 
            &:after
                content: ""
                display: block 
                position: absolute
                right: -25px
                bottom: -20px
                width: 80px
                height: calc(100% - 60px)  
                border: 10px solid $accent-primary
                z-index: -1
                box-sizing: border-box  
        &__info
            padding: 90px 100px 
            h3
                font-size: 29px
                margin-bottom: 35px  
            p
                line-height: 1.8
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            .btn
                margin-top: 30px 
                    
    .slick-arrow
        bottom: 0
        

/* ------------------------------------ */
/*  PORTFOLIO CATEGORIES (MIXING  */

.section-portfolio
    background-image: url(../images/dots.png)
    background-repeat: no-repeat 
    background-size: 500px
    background-position: 30% 0%
    .container
        position: relative
        .text-block
            position: absolute
            left: 0
            top: 0
            z-index: 2 
            
.portfolio-grid
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    align-items: flex-end 
    position: relative
    margin-right: -16px 
    &:before
        content: ""
        display: block
        height: 320px
        width: 52%
        background-color: #FFF
        position: absolute
        left: 0
        top: 0    
        z-index: 1
    &__item
        margin: 16px
        position: relative
        overflow: hidden 
        width: 296px 
        img
            display: block
            max-width: 100% 
        &.g-1
            margin-left: 672px
        &.g-3
            margin-left: 312px
        &.g-7
            margin-right: 672px
        &__info
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: $accent-primary
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: #FFF 
            transition: all .3s ease-out 
            font-size: 18px 
            opacity: 0 
            transform: scale(.6)
            h3
                font-size: 21px
                font-weight: 800
                margin-bottom: 10px 
            span
                a
                    color: #FFF  
                    transition: all .2s
                    &:hover
                        opacity: .6  
            .arrow-link
                position: absolute
                right: 0
                bottom: 0
        &:hover
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.54)
            .portfolio-grid__item__info
                opacity: 1 
                transform: scale(1) 
