.section
    padding: 100px 0 
    &-heading   
        margin-bottom: 80px 
        &--right
            text-align: right
        strong
            @extend .tag-text
            margin-bottom: 0
        h2
            font-size: 46px 