.services
    position: relative
    &__img
        position: absolute
        left: 0
        bottom: 0
        z-index: 0 
        img
            display: block
            max-width: 100% 
        @media (max-width: 991px)
            bottom: auto
            top: -85px
            width: 250px 
        @media (max-width: 767px)
            display: none
        
.service-card,
.advantage-card
    background-color: $accent-tertiary
    text-align: center
    display: flex
    align-items: center
    justify-content: center 
    flex-direction: column 
    min-height: 330px
    width: 20%   
    transition: all .2s
    padding: 90px 15px
    position: relative
    z-index: 1 
    & > *
        position: relative
        z-index: 2 
    @media (max-width: 1499px)
        width: 21% 
        padding: 60px 15px 
    @media (max-width: 1199px)
        width: 22% 
    @media (max-width: 991px)
        width: 35%
        min-height: 240px 
        padding: 40px 10px 
    @media (max-width: 767px)
        width: 50% 
    @media (max-width: 500px)
        width: 240px 
        margin: 0 auto 20px 
    h3
        font-size: 17px 
        margin-bottom: 10px 
        @media (max-width: 1199px)
            font-size: 16px 
    p
        font-size: 16px 
        line-height: 1.8 
        @media (max-width: 1499px)
            font-size: 14px 
        @media (max-width: 1199px)
            font-size: 12px 
    &__img
        display: block
        margin: 0 auto 25px
        max-height: 45px
        max-width: 50px   
        &:nth-of-type(2)
            display: none
        @media (max-width: 991px)
            max-width: 35px 
    button
        position: absolute
        right: 0
        bottom: 0
        background-color: transparent 
    &:hover
        background-color: #FFF
        transform: scale(1.2)  
        box-shadow: 0px 0px 34.96px 3.04px rgba(0, 0, 0, 0.18)
        z-index: 2
        .service-card__img,
        .advantage-card__img
            &:nth-of-type(2)
                display: block
            &:nth-of-type(1)
                display: none
        .arrow-link--secondary
            background-color: $accent-secondary 
            &:hover
                background-color: $accent-secondary-darker 
        

.advantages
    display: flex
    align-items: center
    @media (max-width: 991px)
        flex-wrap: wrap
    
.advantage-card
    width: 25% 
    min-height: 280px 
    padding: 30px 15px 
    transition: all .1s
    @media (max-width: 991px)
        width: 50% 
    @media (max-width: 500px)
        width: 240px 
    h3
        font-size: 21px
        @media (max-width: 1199px)
            font-size: 18px 
    a
        display: block
        margin: 0px auto
        visibility: hidden
        opacity: 0 
        transition: all .1s   
        img
            display: block
            max-width: 22px 
        &:last-child
            margin-bottom: 0 
    &:after
        content: ''
        display: block
        height: 100%
        position: absolute
        width: 100%
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        background-color: $accent-primary  
        opacity: 0
        transition: all .1s   
    @media (min-width: 991px)
        &:hover
            width: 30% 
    &:hover
        transform: none
        box-shadow: none 
        color: #fff
        &:after
            opacity: 1 
            height: 150% 
            box-shadow: 0px 0px 34.96px 3.04px rgba(0, 0, 0, 0.18)
            @media (max-width: 1199px)
                height: 100% 
        a
            opacity: 1
            visibility: visible
            margin-top: 20px  