.text-block
	max-width: 580px 
	position: relative
	z-index: 2
	@media (max-width: 1499px)
		max-width: 520px  
	h1
		font-size: 50px 
		margin-bottom: 20px 
		line-height: 1.2 
		@media (max-width: 1499px)
			font-size: 40px 
			margin-bottom: 15px 
		@media (max-width: 991px)
			font-size: 32px 
		@media (max-width: 400px)
			font-size: 26px 
	h2
		font-size: 46px
		margin-bottom: 15px  
		@media (max-width: 1499px)
			font-size: 38px
			margin-bottom: 10px 
		@media (max-width: 991px)
			font-size: 30px  
		@media (max-width: 400px)
			font-size: 24px 
	h3
       	font-size: 29px
        margin-bottom: 15px  
        @media (max-width: 1499px)
        	font-size: 24px 
        @media (max-width: 991px)
        	font-size: 20px 
        @media (max-width: 400px)
        	font-size: 16px 
	h1,h2,h3
		line-height: 1.2 
		span
			color: $accent-primary
	strong
		text-transform: uppercase
		color: $text-secondary
		font-weight: 800
		display: block  
		margin-bottom: 20px 
		@media (max-width: 1499px)
			margin-bottom: 15px 
		@media (max-width: 400px)
			font-size: 12px 
	p
		line-height: 2 
		max-width: 90%
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
		@media (max-width: 1499px)
			margin-bottom: 15px 
		@media (max-width: 767px)
			max-width: 100% 
		@media (max-width: 576px)
        	line-height: 1.6 
        
	.btn
		margin-top: 35px  
		@media (max-width: 1499px)
			margin-top: 20px 
		
	&__img
		display: inline-block
		margin-bottom: 70px
		margin-top: 70px  
		box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.18)
		@media (max-width: 1199px)
			margin-top: 40px
			margin-bottom: 40px 
		@media (max-width: 991px)
			display: block
			width: 80% 
			margin: 40px auto 
		@media (max-width: 576px)
			width: 100% 
			
		img
			display: block
			max-width: 100% 
			@media (max-width: 991px)
				width: 100% 
		&:first-child
			margin-top: 0 
		&:last-child
			margin-bottom: 0   

		

.block-title
	margin-bottom: 50px 
	@media (max-width: 1499px)
		margin-bottom: 40px 
	.pre-title
		text-transform: uppercase
		color: $text-secondary
		font-weight: 800
		display: block  
		margin-bottom: 10px 
		@media (max-width: 400px)
			font-size: 12px 
	h1,
	h2,
	h3
		line-height: 1.2 
		
		span,
		mark
			background-color: transparent 
			color: $accent-primary
			
	h2
		font-size: 40px
		font-weight: 800  
		@media (max-width: 1499px)
			font-size: 34px 
		@media (max-width: 991px)
			font-size: 30px  
		@media (max-width: 400px)
			font-size: 24px 
		

.iconed-list
	display: block
	
	li
		display: flex
		align-items: center
		
		&:not(:last-child)
			margin-bottom: 20px 
			@media (max-width: 991px)
				margin-bottom: 10px 
		
		.icon
			width: 18px
			height: 18px
			@media (max-width: 767px)
				width: 16px
				height: 14px  
			img
				display: block
				max-width: 100%
				max-height: 100% 
				margin: 0 auto 
				
		.content
			padding-left: 20px 
			width: calc(100% - 18px) 
			@media (max-width: 400px)
				padding-left: 13px 
			

	a
		color: inherit
		border-bottom: 1px solid transparent
		transition: all 0.3s ease
		
		&:hover
			border-color: #000
			
	address
		font-style: normal
		

.columned-list
	columns: 2
	column-gap: 40px
	@media (max-width: 576px)
		columns: 1 
	li
		position: relative
		padding-left: 35px
		list-style: none  
		margin-bottom: 1em
		
		&:before
			content: ''
			width: 6px
			height: 6px
			background-color: #000
			border-radius: 50%  
			position: absolute
			left: 0
			top: 16px
			margin-top: -3px 


/* ------------------------------------ */
/*  ROW OF TEXT BLOCKS (portfolio detailed page)  */

.textualInfo-row
	& > div
		&:first-child
			padding-right: 30px 
			border-right: 1px solid #e1e1e1
		&:nth-child(2)
			padding-left: 110px 
	.text-block
		margin-bottom: 60px
		max-width: 100% 
		&:last-child
			margin-bottom: 0
		&:nth-child(2n)
			text-align: right
			p
				margin-right: 0
				margin-left: auto
	&--cascade
		& > div
			@media (max-width: 991px)
				margin-top: 20px
				margin-bottom: 20px  
			&:first-child
				padding-right: 110px 
				border: none
				@media (max-width: 1199px)
					padding-right: 60px 
				@media (max-width: 991px)
					padding-right: 15px 
			&:nth-child(2n)
				padding-left: 110px
				padding-top: 160px 
				@media (max-width: 1199px)
					padding-left: 60px 
				@media (max-width: 991px)
					padding-left: 15px 
					padding-top: 0 

/* ------------------------------------ */
/*  STEPS TEXT  (how we work page)*/
.steps-text
	margin-top: 80px 
	max-width: 100%
	width: 860px
	padding-left: 130px 
	@media (max-width: 1499px)
		padding-left: 60px 
		width: 800px 
	@media (max-width: 1199px)
		width: 600px
	@media (max-width: 991px)
		width: 500px 
	@media (max-width: 900px)
		padding-left: 0 
		width: 440px 
		margin-top: 60px 
	@media (max-width: 767px)
		width: 100% 
		margin-top: 40px 

.step-text
	padding-left: 130px
	margin-bottom: 90px 
	position: relative
	@media (max-width: 1499px)
		padding-left: 80px 
	@media (max-width: 1199px)
		margin-bottom: 40px 
	@media (max-width: 991px)
		padding-left: 50px 
		margin-bottom: 30px 
	@media (max-width: 400px)
		padding-left: 30px 
	&:last-child
		margin-bottom: 0
	h3
		margin-bottom: 30px
		font-size: 21px  
	&__num
		position: absolute
		left: 0
		top: 0
		color: $accent-primary 
		font-size: 28px
		font-weight: 800  
		@media (max-width: 1199px)
			font-size: 18px 
		@media (max-width: 400px)
			font-size: 16px 
			top: 4px
		

/* ------------------------------------ */
/*  TEXT SCROLL */
.text-with-nav
	position: relative

.custom-scrollbar
	overflow: hidden
	.mCSB_dragger_bar
		margin-right: 0 
		
@media (max-width: 400px)
	.mCSB_inside>.mCSB_container 
	    margin-right: 20px

.text-for-navigation
	height: 860px
	.mCSB_container
		padding-bottom: 100% 

.text-navigation
	width: 430px
	background-color: #FFF 
	box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.08) 
	position: absolute
	right: 0
	top: 0
	padding: 70px 0 
	@media (max-width: 1499px)
		width: 340px 
	@media (max-width: 1199px)
		width: 240px 
		padding: 30px 0 
	@media (max-width: 767px)
		display: none
	a
		display: flex
		align-items: center
		min-height: 100px 
		padding-left: 95px 
		color: $text 
		transition: all .2s 
		&.active
			background-color: $accent-secondary
			font-weight: 800
		&:hover
			font-weight: 800 
		@media (max-width: 1499px)
			min-height: 80px 
		@media (max-width: 1199px)
			padding-left: 40px 
			min-height: 50px 